<div id="about" class="about">
   <div class="feature">
     <div class="info">
      <h2>ADD DAILY STORIES</h2>
      <p>
        Record daily events and stories anytime any day.
      </p>
     </div>
     <div class="illustration">
      <img src="assets/images/add-daily-stories.png" alt="">
     </div>
   </div>
   <div class="feature">
    <div class="illustration">
      <img src="assets/images/feel-safe.png" alt="">
    </div>
    <div class="info">
      <h2>FEEL SAFE</h2>
      <p>
        Be rest assured your documents are private and secure.
      </p>
    </div>
  </div>
  <div class="feature">
    <div class="info">
      <h2>SHARE OPTIONS</h2>
      <p>
        Have the option of sharing your journals with a friend
      </p>
    </div>
    <div class="illustration">
      <img src="assets/images/share-options.png" alt="">
    </div>
  </div>
</div>

